@import "colors.scss";

.create-room {
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__form {
    padding: 3rem;
    width: 80%;
  }

  &__container {
    // background-color: red;
    padding: 1rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form-input-type {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__form-input-type,
  &__label {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 8px 12px;
    color: white;
    background-color: black;
    display: inline-block;
  }

  &__form-input-type:focus,
  &__label:hover {
    background-color: red;
    cursor: pointer;
  }

  &__form-input {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid;
    outline: none;
  }

  &__form-input--padding {
    padding: 1rem;
  }
  &__img-reveiw-container {
    width: 80%;
    // height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    // background-color: red;
    border-top: 10px solid grey;
  }
  &__img {
    width: 250px;
    height: 250px;
    margin: 0.5rem;
  }
  &__img-review {
    width: 100%;
    height: 100%;
    border: 1px solid;
    object-fit: cover;
  }
  &__img-checked {
    padding: 10px;
    width: 100px;
    background: rgb(49, 132, 199);
    color: white;
    border-radius: 20px;
    font-weight: bolder;
  }

  &__btn {
    font-size: 18px;
    padding: 12px 18px;
    float: right;
    margin: 1.5rem 1rem;
    background-color: $button-background-base;
    outline: none;
    border: none;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-delay: -0.5s;
  }
  &__btn:hover {
    background-color: $button-background-hover;
    transform: scale(1.2);
  }
}
