.map-container {
  position: relative;
  // width: 100%;
  // height: 60vh; /* or another specific size you prefer */
  border: 1px solid black;
  display: flex; /* Optional, to make sure children fill container */
}

.map {
  width: 100%;
  height: 100%;
}
