@import "colors.scss";

.nav {
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
  &__item {
    text-align: center;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  &__flex-container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  &__content {
    // background-color: blue;

    margin-top: 20rem;
  }

  &__grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
}

ul {
  list-style-type: none;
}
