@import "colors.scss";

.signup {
  &__flex-item-left {
    padding: 2rem;

    &__form {
      padding: 2rem;
      height: 100%;
    }

    &__group-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__input {
      width: 100%;
      padding: 10px 12px;
      margin-bottom: 8px;
      border: 1px solid black;
      border-radius: 5px;
    }

    &__input:focus {
      border: 1px solid;
      outline: none;
      border: 1px solid $primary-color;
    }

    &__errors {
      color: red;
      font-size: 14px;
      align-self: flex-start;
      margin-bottom: 1rem;
    }
    &__btn {
      width: 100%;
      padding: 10px 14px;
      border: none;
      background-color: $button-background-base;
      transition: 1s ease-in-out;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 5px;
    }
    &__btn:hover {
      background-color: $button-background-hover;
    }
  }
}

.signup h3 {
  color: bisque;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 4px;

  margin-bottom: 2rem;
}
