$background-color: #edf2ff;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$room-status-color: #2ecc70a6;
$text-color: #333333;
$danger-color: #ee5241;

// button
$button-base: #bac8ff;
$button-background-base: #74c0fc;
$button-background-hover: #3aa1e6e7;
$button-hover: #748ffc;

// border
$border-base: #adb5bd;

// rooms-background
$background-color-rooms: #f8f9fa;

// footer-background
$background-color-footer: #ffe066;

// icon
// $out-line-color :

// navbar
$color-font: #ced4da;
$color-font-hover: #495057;

// input
$background-color-input-focus: #f8f9fa;

//btn google
$background-color-google: #ff922b;
$background-color-google-hover: #f76707;

//btn face
$background-color-face: #4dabf7;
$background-color-face-hover: #1c7ed6;

//btn twitter
$background-color-tw: #5c7cfa;
$background-color-tw-hover: #3b5bdb;
