$background-color: #edf2ff;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$room-status-color: #2ecc70a6;
$text-color: #333333;
$danger-color: #e74c3c;

// button
$button-base: #bac8ff;
$button-background-hover: #3498dbe7;
$button-hover: #748ffc;

// border
$border-base: #adb5bd;

// rooms-background
$background-color-rooms: #f8f9fa;

// footer-background
$background-color-footer: #ffe066;

// icon
// $out-line-color :
