$background-color: #edf2ff;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333333;
$danger-color: #e74c3c;

// button
$button-base: #bac8ff;
$button-hover: #748ffc;

// border
$border-base: #adb5bd;
