@import "colors.scss";

footer {
  height: 12rem;
  background-color: $background-color-footer;
}

.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &__logo-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
  }
}
