.capacity-icon {
  margin-top: 5px;
  color: grey;
}

.price-icon {
  color: grey;
}

.slider-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  .card {
    position: relative;
    width: 300px; // Width of the card
    height: 350px; // Height of the card
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: white;

    .carousel {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out; // Smooth slide transition

      .carousel-item {
        width: 100%; // Each image takes up full card width
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 200px; // set the image fixed size,
          object-fit: cover; // Maintain aspect ratio
          border-radius: 8px;
        }
      }

      .carousel-item-2 {
        margin: 12px 0 0 12px;

        .price {
          display: flex;
          margin-top: 6px;
          // justify-content: space-around;
          align-items: center;
          gap: 12px;

          &__original {
            text-decoration: line-through;
            font-size: 10px;
          }

          &__discount {
            color: red;
          }
        }

        .btn-room {
          padding: 8px 12px;
          font-weight: 700;
          border-radius: 5px;
          // border: 1px solid #1971c2;
          border: 0px;
          cursor: pointer;

          // note here
          transition-property: transform;
          transition-duration: 0.3s;
          // Specifies an animation
          // a slow start, then fast, then end slowly
          transition-timing-function: ease;
          //  a delay for the start of an animation
          // 0s before starting the animation
          transition-delay: 0s;
        }

        .btn-room:hover {
          background-color: $primary-color;
          transform: translateY(-5px);
        }

        .btn-position {
          font-size: 14px;

          float: right;
          margin-right: 12px;
        }

        .capacity-container {
          display: flex;
          gap: 12px;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .btn-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-200%);
      padding: 6px;
      font-size: 18px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 50%;
      z-index: 10;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0.5;
        // transition-duration: 0.3s;
      }
    }

    .btn-arrow-prev {
      left: 5px;
    }

    .btn-arrow-next {
      right: 5px;
    }
  }

  .card:hover {
    // background-color: red;
    // transform: scale(1.1);
  }
}
